#bar {
    color: white;
    justify-content: center;
}

.buttonLog {
    text-align: center;
}

.ensemble {
    text-align: center;
}

mat-card {
    max-width: 20%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
